.nav,
.things-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  box-shadow: 0px -2px 8px 1px;
}
.search-nav {
  width: 350px !important;
  height: 50px;
}
.home {
  background-color: rgb(56, 34, 255);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bg-main {
  background-image: url("../../../Assits/mockup-free-OzjL-1PcAbo-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.cat-card {
  border: 1px solid rgb(70, 68, 68);
  border-radius: 12px;
  max-width: 200px;
  overflow: hidden;
  max-height: 200px;
}
.cat-card .img img {
  width: 200px;

  height: 150px;
  transition: all 0.3s;
}
@media (max-width: 720px) {
  .cat-card {
    max-width: 100%;
    width: 100%;
  }
  .cat-card .img img {
    max-width: 100%;
    width: 100%;
  }
}
.cat-card:hover img {
  scale: 1.1;
}
.top-products {
  border: 1px solid black;
  width: fit-content;
}
.image-gallery-slide-wrapper {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-gray {
  background-color: rgb(249 249 249);
}
.new-btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
