.Product-card {
  border: 1px solid rgb(200 200 200);
  border-radius: 4px;
  width: 305px;
  height: 450px;
  overflow: hidden;
  padding: 0 0 12px;
  position: relative;
  margin: 0.5rem 0;
  display: block;
  box-shadow: 0 0 9px 2px #dbe0f0;
}
.product-img img {
  width: 100%;
  border-bottom: 1px solid rgb(200 200 200);
  height: 300px;
  box-shadow: 0 0 9px 2px #dbe0f0;
}
.card-body {
  padding: 10px 15px !important;
}
.rate {
  margin-bottom: 15px;
}
.discount {
  padding-left: 15px;
  text-decoration: line-through;
  color: rgb(172, 167, 167);
}

.sail {
  position: absolute;
  background-color: #4063fc;
  font-weight: bold;
  padding: 10px 105px 10px;
  color: white;
  rotate: -45deg;
  transform: translate(-69px, -40px);
}
.title {
  font-size: 25px;
  color: rgb(44, 44, 44);
}
body {
  background-color: #000;
}
